.filters {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.filters input {
  display: none;
}

.filters label {
  padding: 0.5rem 1rem;
  text-align: center;
  background-color: aliceblue;
  width: 100%;
  transition: all 100ms;
}

.filters input:checked + label,
.filters label:hover {
  background-color: beige;
  box-shadow: inset -1px -1px 6px #ccc;
}
